doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
      title Default title
  body
    block content